%div.post
  %h2.title
    = link_to  "Executive Board Application Form" , "#"
%p{:style => "margin-left: 10px;"}
  %i
    If you fill incorrect details and submit, you can update by filling the WHOLE form again using the SAME EMAIL ID.
    %br
    (*) marked fields are mandatory
%br 
= form_for @executive_board do |executive_board|
  = executive_board.fields_for :user do |user|
    - if @executive_board.user.errors.count != 0 
      %ul{:style => "background:#FCF7C1;"}
        %h2
          These errors were encountered while saving:
        - @executive_board.user.errors.full_messages.each do |msg|
          %li{:style => "list-style:none;"}
          = msg  
    %table{:id => "new_eb"}
      %tr
        %td
          %b Name *
        %td
          = user.text_field :full_name, :size => 25
      
      %tr
        %td
          %b Gender * 
        %td
          = user.radio_button (:gender, "Male") 
          = user.label "Male"
          = user.radio_button (:gender, "Female") 
          = user.label "Female"
      %tr
        %td
          %b Course *
        %td
          = user.text_field :course, :size => 25 
      %tr
        %td
          %b Year *
        %td
          = user.text_field :year, :size => 25 
      %tr
        %td
          %b Place of Residence *
        %td
          = user.text_field :place_of_residence, :size => 25 
      %tr
        %td
          %b Mobile Number *
        %td
          = user.text_field :mobile, :size => 25 
      %tr
        %td
          %b Email *
        %td
          = user.text_field :email, :size => 25 

  %br
  %br
  %b{:style=> "margin-left: 10px;"}
    Previous Executive Board Experience
  %br
  %br
  #experience
    %table{ :style => "margin-left:10px;"}
      %tr
        %th Name of MUN
        %th Year 
        %th Council
        %th Position
      %tr 
        %td 
          = executive_board.text_field :eb_mun_1, :size => 15 
        %td 
          = executive_board.text_field :eb_year_1, :size => 15 
        %td 
          = executive_board.text_field :eb_council_1, :size => 15
        %td 
          = executive_board.text_field :eb_position_1, :size => 15
      %tr 
        %td 
          = executive_board.text_field :eb_mun_2, :size => 15
        %td 
          = executive_board.text_field :eb_year_2, :size => 15
        %td 
          = executive_board.text_field :eb_council_2, :size => 15 
        %td 
          = executive_board.text_field :eb_position_2, :size => 15 
      %tr 
        %td 
          = executive_board.text_field :eb_mun_3, :size => 15
        %td  
          = executive_board.text_field :eb_year_3, :size => 15 
        %td 
          = executive_board.text_field :eb_council_3, :size => 15 
        %td 
          = executive_board.text_field :eb_position_3, :size => 15 
      %tr 
        %td 
          = executive_board.text_field :eb_mun_4, :size => 15
        %td 
          = executive_board.text_field :eb_year_4, :size => 15 
        %td 
          = executive_board.text_field :eb_council_4, :size => 15 
        %td 
          = executive_board.text_field :eb_position_4, :size => 15 
      %tr 
        %td 
          = executive_board.text_field :eb_mun_5, :size => 15
        %td 
          = executive_board.text_field :eb_year_5, :size => 15 
        %td 
          = executive_board.text_field :eb_council_5, :size => 15
        %td 
          = executive_board.text_field :eb_position_5, :size => 15 
  %br  
  %br
  %b{:style=> "margin-left : 10px;"}
    Please Continue Writing Your Executive Board Experience Here:
  %br
  %br
  = executive_board.text_area :eb_experience, :style => "height:100px;width:810px;margin-left:10px"
  %br
  %br
  %br
  %br
  %b{:style=>"margin-left:10px;"}
    Previous Delegate Experience
  %br
  %br
  #experience
    %table{ :style => "margin-left:10px;"}
      %tr
        %th Name of MUN
        %th Council
        %th Country 
        %th Awards (if any)
      %tr 
        %td 
          = executive_board.text_field :d_mun_1, :size => 15
        %td 
          = executive_board.text_field :d_council_1, :size => 15 
        %td 
          = executive_board.text_field :d_country_1, :size => 15 
        %td 
          = executive_board.text_field :d_awards_1, :size => 15
      %tr 
        %td 
          = executive_board.text_field :d_mun_2, :size => 15
        %td 
          = executive_board.text_field :d_council_2, :size => 15 
        %td 
          = executive_board.text_field :d_country_2, :size => 15 
        %td 
          = executive_board.text_field :d_awards_2, :size => 15
      %tr 
        %td 
          = executive_board.text_field :d_mun_3, :size => 15
        %td 
          = executive_board.text_field :d_council_3, :size => 15 
        %td 
          = executive_board.text_field :d_country_3, :size => 15 
        %td 
          = executive_board.text_field :d_awards_3, :size => 15
      %tr 
        %td 
          = executive_board.text_field :d_mun_4, :size => 15
        %td 
          = executive_board.text_field :d_council_4, :size => 15
        %td 
          = executive_board.text_field :d_country_4, :size => 15 
        %td 
          = executive_board.text_field :d_awards_4, :size => 15
      %tr 
        %td 
          = executive_board.text_field :d_mun_5, :size => 15
        %td 
          = executive_board.text_field :d_council_5, :size => 15
        %td 
          = executive_board.text_field :d_country_5, :size => 15 
        %td 
          = executive_board.text_field :d_awards_5, :size => 15
  %br  
  %br
  %b{:style=> "margin-left : 10px;"}
    Please Continue Writing Your MUN Experience Here:
  %br
  %br
  = executive_board.text_area :mun_experience, :style => "height:100px;width:810px;margin-left:10px"
  %br
  %br
  %br
  %br
  %table{:id => "new_eb"}
    %tr
      %td Council Preference *
      %td 
        = select( "executive_board", "council_preference", { "Historic General Assembly" => "historic general assembly", "UN Security Council" => "UN security council"})
      %td
        = link_to "Click here for Historic General Assembly details", home_historic_ga_path , :target => "_blank", :style => "text-decoration: none;"  
      %td
        = link_to "Click here for UN Security Council details", home_unsc_path , :target => "_blank" , :style => "text-decoration:none;" 
    %tr
      %td Position Preference *
      %td 
        = select( "executive_board", "position_preference", { "Chair" => "chair", "Vice Chair" => "vice chair", "Director" => "director"})
  %br 
  %br 
  %br 
  %br 
  = executive_board.submit "Submit"
  %br
  %br

   
