!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    - # This can be further customized here: http://developers.facebook.com/docs/reference/plugins/like/ -Anthony
    %meta{:content => "Spring Fest MUN", :property => "og:title"}/
    %meta{:content => "non_profit", :property => "og:type"}/
    %meta{:content => "springfest", :property => "og:site_name"}/
    %title
      = "IIT KGP MUN" 
    = stylesheet_link_tag  "style", "navigation_bar", "slideshow"
    = javascript_include_tag "jquery", "application","rails", "navigation", "jquery.countdown.pack"
    = csrf_meta_tag


  %body
    #logo
    
    #slideshow
      #autochange
        #col1
        #col2
          %div.slides
            %div.pics
              %div.newmenu
                %b
                  = link_to "Home" , home_content_path , :class => "has_submenu"
                %b 
                  = link_to "About" ,"#", :class => "has_submenu", :id => "about"
                %div.submenu{:id => "about-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>MUN Conference</span>") , "#"
                    %li
                      = link_to raw("<span>Secreteriat</span>") , "#"
                %b 
                  = link_to "Preparation" ,"#", :class => "has_submenu", :id => "preparation"
                %div.submenu{:id => "preparation-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>Study Guides</span>") , "#"
                    %li
                      = link_to raw("<span>Parliamentary Procedure</span>") , "#"
                    %li
                      = link_to raw("<span>Conference Policies</span>") , "#"
                %b 
                  = link_to "Registrations" ,"#", :class => "has_submenu", :id => "registrations"
                %div.submenu{:id => "registrations-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>Delegate</span>") , "#"
                    %li
                      = link_to raw("<span>International Press</span>") , "#"
                    %li
                      = link_to raw("<span>Executive Board</span>") , eb_registrations_path
                %b 
                  = link_to "Committees" ,"#", :class => "has_submenu", :id => "committees"
                %b 
                  = link_to "Travel Planning" ,"#", :class => "has_submenu", :id => "travel_planning"
                %b 
                  = link_to "Logistics" ,"#", :class => "has_submenu", :id => "logistics"
                %div.submenu{:id => "logistics-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>Fees and Dates</span>") , "#"
                    %li
                      = link_to raw("<span>Accomodation</span>") , "#"
                    %li
                      = link_to raw("<span>Reimbursement Policy</span>") , "#"
                    %li
                      = link_to raw("<span>FAQs</span>") , "#"
                %b
                  = link_to "Meet The Team" , "#", :class => "has_submenu", :id => "meet_the_team"
                %div.submenu{:id => "meet_the_team-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>Organising Team</span>") , "#"
                    %li
                      = link_to raw("<span>Web Team</span>") , "#"
                .fblike
                  %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
                  %fb:like{:layout => "button_count", :show_faces => "false", :width => "450", :style => "left:1000px;"}
              %div.rotator
                %ul
                  %li.show
                    %a{:href => "javascript:void(0)"}
                    %img{:alt => "", :height => "335" , :src => "/images/img16.jpg", :width => "1160" }
                  %li
                    %a{:href => "javascript:void(0)"}
                    %img{:alt => "", :height => "335" , :src => "/images/img30.jpg", :width => "1160"}
                  %li
                    %a{:href => "javascript:void(0)"}
                    %img{:alt => "", :height => "335" , :src => "/images/ortona.jpg", :width => "1160"}
        #col3
    .clr
    #page
      #page-bgtop
        #content
          = yield
        #sidebar
          %h3   Countdown to IITKGPMUN   
          #countdown 
          %br
          %br
          %br
          %br
          %br
          %br
          %ul
            %li 
              %h2 Announcements 
              %ul{:style => "margin:10px;"}
                %li 
                  Executive board applications are up.    
                  = link_to "Click Here!" , "#"
                %li
                  Executive board applications will be open soon. Please keep checking.    
                %li 
                  Executive board applications will be open soon. Please keep checking.    
          %ul
            %li 
              %h2 Get Social
              %ul{:style => "margin:10px;"}
                %li 
                  Keep in touch with the MUN   
                  = link_to "in the facebook group", "http://www.facebook.com/groups/iitkgpmun/", :target => "_blank"
                %li 
                  = link_to "Facebook Page", "http://www.facebook.com/iitkgpmun", :target => "_blank"
        .clr
      .clr
    .clr
    .clr
:javascript

