!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    - # This can be further customized here: http://developers.facebook.com/docs/reference/plugins/like/ -Anthony
    %meta{:content => "Spring Fest MUN", :property => "og:title"}/
    %meta{:content => "non_profit", :property => "og:type"}/
    %meta{:content => "springfest", :property => "og:site_name"}/
    %title
      = "IIT KGP MUN" 
    = stylesheet_link_tag  "style", "navigation_bar", "slideshow"
    = javascript_include_tag "jquery", "application","rails"
    = csrf_meta_tag


  %body
    #logo
      %h1 
        = link_to "IIT KGP MUN"
    
    #slideshow
      #autochange
        #col1
        #col2
          %div.slides
            %div.pics
              #newmenu
                %b
                  = link_to "Home" , home_content_path , :remote => true
                %b
                  = link_to "About" , "#"
                %b
                  = link_to "Meet The Team" , "#"
              %div.pic
                %img{:alt => "", :height => "335" , :src => "/images/img16.jpg", :width => "1160"}
              %div.pic
                %img{:alt => "", :height => "335" , :src => "/images/img04.jpg", :width => "1160",:style => "display:none;"}
              %div.pic
                %img{:alt => "", :height => "335" , :src => "/images/img04.jpg", :width => "1160", :style => "display:none;"}
        #col3
    .clr
    #page
      #page-bgtop
        #content
          = render :partial => "home_content"
        #sidebar
          %ul
            %li 
              %h2 Links
              %ul{:style => "margin:10px;"}
                %li 
                  = link_to "Updates" , "#"
                %li 
                  = link_to "Twitter" , "http://twitter.com/#!/SpringFest2012", :target => "_blank"
                %li 
                  = link_to "Facebook", "http://www.facebook.com/iitkgpmun", :target => "_blank"
        .clr
      .clr
    .clr
    .clr
:javascript

