!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    - # This can be further customized here: http://developers.facebook.com/docs/reference/plugins/like/ -Anthony
    %meta{:content => "Spring Fest MUN", :property => "og:title"}/
    %meta{:content => "non_profit", :property => "og:type"}/
    %meta{:content => "springfest", :property => "og:site_name"}/
    %title
      = "IIT KGP MUN" 
    = stylesheet_link_tag  "style", "navigation_bar", "slideshow"
    = javascript_include_tag "jquery", "application","rails", "navigation"
    = csrf_meta_tag


  %body
    #logo
    
    #slideshow
      #autochange
        #col1
        #col2
          %div.slides
            %div.pics
              %div.newmenu
                %b
                  = link_to "Home" , home_content_path , :remote => true, :class => "has_submenu"
                %b 
                  = link_to "About" ,"#", :class => "has_submenu", :id => "about"
                %div.submenu{:id => "about-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>MUN Conference</span>") , "#"
                    %li
                      = link_to raw("<span>Secreteriat</span>") , "#"
                %b
                  = link_to "Meet The Team" , "#", :class => "has_submenu", :id => "meet_the_team"
                %div.submenu{:id => "meet_the_team-sub", :style => "display:none;"}
                  %ul{:style => "list-style-type:none;"} 
                    %li
                      = link_to raw("<span>Organising Team</span>") , "#"
                    %li
                      = link_to raw("<span>Web Team</span>") , "#"
              %div.rotator
                %ul
                  %li.show
                    %a{:href => "javascript:void(0)"}
                    %img{:alt => "", :height => "335" , :src => "/images/img16.jpg", :width => "1160" }
                  %li
                    %a{:href => "javascript:void(0)"}
                    %img{:alt => "", :height => "335" , :src => "/images/img15.JPG", :width => "1160"}
                  %li
                    %a{:href => "javascript:void(0)"}
                    %img{:alt => "", :height => "335" , :src => "/images/ortona.jpg", :width => "1160"}
        #col3
    .clr
    #page
      #page-bgtop
        #content
          = render :partial => "home_content"
        #sidebar
          %ul
            %li 
              %h2 Links
              %ul{:style => "margin:10px;"}
                %li 
                  = link_to "Updates" , "#"
                %li 
                  = link_to "Twitter" , "http://twitter.com/#!/SpringFest2012", :target => "_blank"
                %li 
                  = link_to "Facebook", "http://www.facebook.com/iitkgpmun", :target => "_blank"
        .clr
      .clr
    .clr
    .clr
:javascript

