!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xmlns:og = "http://ogp.me/ns#"  xmlns:fb ="http://www.facebook.com/2008/fbml")
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    - # This can be further customized here: http://developers.facebook.com/docs/reference/plugins/like/ -Anthony
    %meta{:content => "IIT Kharagpur Model United Nations Conference", :property => "og:title"}/
    %meta{:content => "non_profit", :property => "og:type"}/
    %meta{:content => "IITKGPMUN", :property => "og:site_name"}/
    %meta{:content => "http://iitkgpmun.springfest.in/images/mun_logo_small.png", :property => "og:image"}/
    %meta{:content => "It is with great pleasure that I welcome you to the maiden session of IIT Kharagpur Model United Nations Conference which is to be held from Saturday, the 21st of January to Monday, the 23rd of January 2012.", :property => "og:description"}/
    %link{ :rel => "shortcut icon", :href => "/images/mun_logo_small.png", :type => "image/x-icon"}/

    %title
      = "IIT Kharagpur Model United Nations Conference" 
    = stylesheet_link_tag  "style", "navigation_bar", "slideshow", "nivo-slider", "default"
    = javascript_include_tag "jquery", "application","rails", "navigation", "jquery.countdown.pack", "jquery.nivo.slider.pack"
    = csrf_meta_tag


  %body.abc
    #logo
    
    %div.newmenu
      %b
        = link_to "Home" , home_index_path , :class => "has_submenu"
      %b 
        = link_to "About" ,"#" , :class => "has_submenu", :id => "about"
      %div.submenu{:id => "about-sub", :style => "display:none;"}
        %ul{:style => "list-style-type:none;"} 
          %li
            = link_to raw("<span>What is IITKGPMUN</span>") , home_what_is_iitkgpmun_path
          %li
            = link_to raw("<span>Why IITKGPMUN</span>") , home_why_iitkgpmun_path
          %li
            = link_to raw("<span>Team</span>") , home_team_path
          %li
            = link_to raw("<span>Keynote Speaker</span>") , home_keynote_speaker_path
      %b 
        = link_to "Conference" ,"#", :class => "has_submenu", :id => "conference"
      %div.submenu{:id => "conference-sub", :style => "display:none;"}
        %ul{:style => "list-style-type:none;"} 
          %li
            = link_to raw("<span>Executive Board</span>") , home_eb_path
          %li
            = link_to raw("<span>International Press</span>") , home_ip_path
          %li
            = link_to raw("<span>Schedule</span>") , home_schedule_path
          %li
            = link_to raw("<span>Key Dates</span>") , home_key_dates_path
          %li
            = link_to raw("<span>Conference Fees</span>") , home_conference_fees_path
      %b 
        = link_to "Committees" ,"#", :class => "has_submenu", :id => "committees"
      %div.submenu{:id => "committees-sub", :style => "display:none;width:170px;"}
        %ul{:style => "list-style-type:none;width:170px;"} 
          %li
            = link_to raw("<span>Historic General Assembly</span>") , home_historic_ga_path
          %li
            = link_to raw("<span>UN Security Council</span>") , home_unsc_path
      %b 
        = link_to "Allotments" ,"#", :class => "has_submenu", :id => "allotments"
      %div.submenu{:id => "allotments-sub", :style => "display:none;width:170px;"}
        %ul{:style => "list-style-type:none;width:170px;"} 
          %li
            = link_to raw("<span>Historic General Assembly</span>") , home_historic_ga_allotments_path
          %li
            = link_to raw("<span>UN Security Council</span>") , home_unsc_allotments_path
          %li
            = link_to raw("<span>International Press</span>") , "#"
      %b 
        = link_to "Apply" ,"#", :class => "has_submenu", :id => "registrations"
      %div.submenu{:id => "registrations-sub", :style => "display:none;"}
        %ul{:style => "list-style-type:none;"} 
          %li
            = link_to raw("<span>Executive Board</span>") , eb_registrations_path
          %li
            = link_to raw("<span>Delegate</span>") , home_delegate_registrations_path
          %li
            = link_to raw("<span>International Press</span>") , home_ip_registrations_path
          %li
            = link_to raw("<span>Payment Options</span>") , home_payment_options_path
      %b 
        = link_to "Technical Resources" ,"#", :class => "has_submenu", :id => "preparation"
      %div.submenu{:id => "preparation-sub", :style => "display:none;"}
        %ul{:style => "list-style-type:none;"} 
          %li
            = link_to raw("<span>Study Guides</span>") , home_study_guides_path
          %li
            = link_to raw("<span>Useful Links</span>") , home_useful_links_path
          %li
            = link_to raw("<span>Conference Rules</span>") , home_conference_rules_path
      %b
        = link_to "Meet The Team" , home_meet_the_team_path, :class => "has_submenu", :id => "meet_the_team"
      %b
        = link_to "Awards" , home_awards_path, :class => "has_submenu", :id => "awards"
      %b 
        = link_to "Travel Planning" ,home_travel_planning_path , :class => "has_submenu", :id => "travel_planning"
      %b
        = link_to "Contact Us" , home_contact_us_path, :class => "has_submenu", :id => "contact_us"
      .fblike
        =#%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
        =#%fb:like{:layout => "button_count", :show_faces => "false", :width => "450", :style => "left:1000px;"}
    #slideshow
      #autochange
        #col1
        #col2
          %div.slides
            %div.pics
              #slider
                %img{:alt => "", :height => "335" , :src => "/images/2.jpg", :width => "1160"}
                %img{:alt => "", :height => "335" , :src => "/images/3.jpg", :width => "1160"}
                %img{:alt => "", :height => "335" , :src => "/images/4.jpg", :width => "1160"}
                %img{:alt => "", :height => "335" , :src => "/images/5.jpg", :width => "1160"}
                %img{:alt => "", :height => "335" , :src => "/images/7.jpg", :width => "1160"}
                %img{:alt => "", :height => "335" , :src => "/images/8.jpg", :width => "1160"}
        #col3
    .clr
    #page
      #page-bgtop
        #content
          = yield
        #sidebar
          #slider_two
            %a{:href => "http://www.springfest.in", :target => "_blank"}
              %img{:alt => "", :height => "100" , :src => "/images/sfslide.jpg", :width => "100"}
            %img{:alt => "", :height => "100" , :src => "/images/nokia.jpg", :width => "100"}
            %img{:alt => "", :height => "100" , :src => "/images/ril.jpg", :width => "100"}
            %img{:alt => "", :height => "100" , :src => "/images/sbi.jpg", :width => "100"}
            %img{:alt => "", :height => "100" , :src => "/images/dx3.jpg", :width => "100"}
          %h3   Countdown to IITKGPMUN   
          #countdown 
          %br
          %br
          %br
          %br
          %br
          %br
          %ul
            %li 
              %h2 Announcements 
              %ul{:style => "margin:10px;font-size: 13px;"}
                %li
                  %b
                    Priority Allotments are up.
          %ul
            %li 
              %h2 Get Social
              %ul{:style => "margin:10px;"}
                %li 
                  Keep in touch with the MUN   
                  = link_to "in the facebook group", "http://www.facebook.com/groups/iitkgpmun/", :target => "_blank"
                %li 
                  = link_to "Facebook Page", "http://www.facebook.com/iitkgpmun", :target => "_blank"
        .clr
      .clr
    .clr
    .clr
    #footer
       
      Copyright © - IITKGPMUN 2012 | Organized by 
      = link_to "Spring Fest", "http://www.facebook.com/springfest.iitkgp", :style => "text-decoration:none;", :target => "_blank"
      and 
      = link_to "Debating Society, IIT Kharagpur", "http://www.facebook.com/pages/Debating-SocietyIIT-Kharagpur/183110725076191", :style => "text-decoration:none;", :target => "_blank"

      | Site developed by 
      = link_to "Sricharan Sunder", "http://www.facebook.com/sricharan92", :target => "_blank", :style => "text-decoration:none;"

:javascript

